* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Tomorrow", sans-serif;
    background-color: #FFFF2D;
}

body {
    font-family: "Tomorrow", sans-serif;
    font-weight: 100;
    font-style: normal;

}

.navbar {
    background-color: #FFFF2D;
    position: sticky !important;
    top: 0 !important;
    z-index: 100;

}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px
}

.article1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #2F3129;
}

.article-text1 {
    width: 50vh;
    background-color: #2F3129;
    color: #FFFF2D;
    padding-top: 10px;
    
}

.article-img1{
    background-color: #2F3129;
}

.img1 {
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center center;
    border-radius: 40px;
    box-shadow: 1px 1px 10px black;
    margin: 20px;
    width: 40vh;
    height: 40vh;
    color: white;
    font-weight: 900;
    text-decoration: none;
    transition: 0.5s;
    object-fit: cover;
    background-color: #2F3129;
}

.article2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #FFFF2D;
    color: #2F3129;
    
    

}

.article-text2 {
    width: 50vh;
    background-color: #FFFF2D;
    color: #2F3129;
    padding-top: 10px;
    padding-left: 0;
    
    
    
}
@media (max-width:786px){
    .article-text2{
        order: -1;
    }
}

.article-img2{
    background-color: #FFFF2D;
}

.img2 {
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center center;
    border-radius: 40px;
    box-shadow: 1px 1px 10px black;
    margin: 20px;
    width: 40vh;
    height: 40vh;
    color: white;
    font-weight: 900;
    text-decoration: none;
    transition: 0.5s;
    object-fit: cover;
    background-color: #FFFF2D;
}

.article3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #2F3129;
}

.article-text3 {
    width: 50vh;
    background-color: #2F3129;
    color: #FFFF2D;
    padding-top: 10px;
    
    
}

.article-img3{
    background-color: #2F3129;
}

video {
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center center;
    border-radius: 40px;
    box-shadow: 1px 1px 10px black;
    margin: 20px;
    width: 40vh;
    height: 40vh;
    color: white;
    font-weight: 900;
    text-decoration: none;
    transition: 0.5s;
    object-fit: cover;
    background-color: #2F3129;
}







.navbar-toggler {
    color: #FFFF2D !important;
}

.logo {
    width: 10vh;
}
.img-paisajes-container{
    display: flex;
    flex-direction: row;
    
    

}
.img-paisajes{
    width: 33.3vh;
    
    
}

/* footer */

.container-footer{
    /* max-width: 1200px; */
    margin: 0 auto;
    }
    .footer {
        background-color: #FFFF2D;
        
       
    }
    .footer-row {
        display: flex;
        flex-wrap: nowrap;
        padding: 20px;
    }
    .footer-links{
        
        width: 25%;
        padding: 0 15px;
    
    }
    
    .footer-links h4 {
        font-size: 15px;
        color: gray;
        margin-bottom: 25px;
        font-weight: 500;
        /*border-bottom: 2px solid aquamarine;*/
        padding-bottom: 10px;
        display: inline-block;
    }
    .footer-links ul li a {
        text-decoration: none;
        font-size: 13px;
        color: black;
        display: block;
        margin-bottom: 15px;
        transition: all 0.2s ease;
    
    }
    .footer-links ul li a:hover {
        color: gray;
        padding-left: 6px;
        font-weight: 10px;
    }
    .social-link {
        display: flex;
    }
    .footer-links ul{
        padding: 0;
    }
    .social-link a {
        display: inline-block;
        min-height: 40px;
        width: 40px;
        background-color: rgba(255, 255, 255, 0.2);
        margin: 0 10px 10px 0;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        color: black !important;
    
    }
    .social-link a:hover {
        background-color: rgb(224, 224, 224);
    }
    @media (max-width: 768px) {
        .footer-row {
            flex-wrap: wrap;
            text-align: center;
    }
        .footer-links {
            width: 100%;
            margin-bottom: 30px;
            
            
        }
        .social-link {
            justify-content: center;
        }
    }
    hr {
        max-width: 1000px;
        margin: auto;
    }
    .texto-derechos {
        
        text-align: center;
        font-size: small;
        color: rgb(151, 151, 151);
    }
    ul{
        list-style-type: none;
    }

    